<html>
  <head>
    <title>MailMan</title>
    {{> stylesheets }}
    <link rel="stylesheet" type="text/css" href="/css/loginlayout.css">
  </head>
  <body>
    <div class="heading">
      <img src="/img/Logo-d2.png" alt="Logo" class="small_log">
    </div>
    {{{ body }}}
  </body>
    {{> scripts }}
</html>
