<html>
  <head>
    <title>MailMan</title>
    {{> stylesheets }}
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
  </head>
  <body>
    <div class="title_image">
      <img src="/img/Logo-d2.png" alt="Logo" class="small_log">
    </div>
    <div class="title_page_div">
      <h1 class="title_page">MailMan</h1>
    </div>
    <div class="search_box_div">
      <form>
        <input type="text" name="search" placeholder="Search.." class="search_box">
      </form>
    </div>
    <div class="sections">
      <div class="body_name">
        <a href="" class="section_home">Home</a>
        <a href="emails" class="section_email">Emails</a>
        <a href="attachments" class="section_file">Files</a>
        <a href="#" class="section_topic">Topics</a>
        <a href="#" class="section_archived">Archived</a>
        <a href="#" class="section_deleted">Deleted</a>
        <a href="auth/google" class="section_auth">Authentication</a>
      </div>
      <div class="body_content">
        {{{ body }}}
      </div>
    </div>
    </div>
  </body>
    {{> scripts }}
</html>
