<head>
  <link rel="stylesheet" type="text/css" href="/css/file_section.css">
</head>
<div class="file_title body_name">
  <p class="file_name">Name</p>
  <p class="file_from">From</p>
  <p class="file_to">To</p>
  <p class="file_date">Date</p>
  <hr class="line">
</div>
