<head>
  <link rel="stylesheet" type="text/css" href="/css/file_section.css">
</head>
<div class="file_title">
  <p class="file_name"> name</p>
  <p class="file_from"> From</p>
  <p class="file_to"> To</p>
  <p class="file_date">Date</p>
</div>
