<head>
  <link rel="stylesheet" type="text/css" href="/css/file_section.css">
</head>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>User ID</th>
        <th>File Name</th>
        <th>File Type</th>
      </tr>
    </thead>
    <tbody>
      <!-- example to create a row -->
      <!-- <tr>
        <td>Juldy</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr> -->
      {{#each attachments}}
        <tr>
          <td>{{this.user_id}}</td>
          <td>{{this.file_name}}</td>
          <td>{{this.file_type}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
